
services:
  api:
    build: .
    ports:
      - "${APP_PORT}:${APP_PORT}"
    environment:
      - NODE_ENV=production
      - APP_HOST=${APP_HOST}
      - APP_PORT=${APP_PORT}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_ACCESS_TOKEN_EXPIRES_IN=${AUTH_ACCESS_TOKEN_EXPIRES_IN}
      - AUTH_REFRESH_TOKEN_EXPIRES_IN=${AUTH_REFRESH_TOKEN_EXPIRES_IN}
      - PAGINATION_LIMIT_MESSAGE_BY_TICKET=${PAGINATION_LIMIT_MESSAGE_BY_TICKET}
      - PAGINATION_LIMIT_MESSAGE_ALL=${PAGINATION_LIMIT_MESSAGE_ALL}
      - PAGINATION_LIMIT_TICKET_BY_USER=${PAGINATION_LIMIT_TICKET_BY_USER}
      - PAGINATION_LIMIT_TICKET_ALL=${PAGINATION_LIMIT_TICKET_ALL}
    depends_on:
      - db
      - redis
    command: sh -c "npx prisma migrate deploy --config=./config/prisma.config.ts && npx tsx src/index.ts"
    networks:
      - app-network

  worker:
    build: .
    environment:
      - NODE_ENV=production
      - APP_HOST=${APP_HOST}
      - APP_PORT=${APP_PORT}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_ACCESS_TOKEN_EXPIRES_IN=${AUTH_ACCESS_TOKEN_EXPIRES_IN}
      - AUTH_REFRESH_TOKEN_EXPIRES_IN=${AUTH_REFRESH_TOKEN_EXPIRES_IN}
      - PAGINATION_LIMIT_MESSAGE_BY_TICKET=${PAGINATION_LIMIT_MESSAGE_BY_TICKET}
      - PAGINATION_LIMIT_MESSAGE_ALL=${PAGINATION_LIMIT_MESSAGE_ALL}
      - PAGINATION_LIMIT_TICKET_BY_USER=${PAGINATION_LIMIT_TICKET_BY_USER}
      - PAGINATION_LIMIT_TICKET_ALL=${PAGINATION_LIMIT_TICKET_ALL}
    depends_on:
      - db
      - redis
    command: npx tsx src/workers/index.ts
    networks:
      - app-network

  db:
    image: pgvector/pgvector:pg16
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
